body{
    background-image: url(../img/fundo.jpg);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 
}

.cartao{
    background-color: 
    rgb(129, 10, 240);
    
}
